<h2 class="area__tiles--caption" ng-bind="'CATEGORY.INTRO_TEXT' | translate"></h2>

<div class="grid__row">
    <div class="grid__column grid__small--6 grid__medium--4 grid__large--3" ng-repeat="category in main.categories.items">
        <div class="area__tile area__tile--action" ng-click="main.categories.select(category)">
            <span class="settings__tabs--action fa fa-check-circle" ng-if="main.categories.active === category"></span>
            <span ng-bind="('CATEGORY.' + category.toUpperCase()) | translate"></span>
        </div>
    </div>
</div>