<div class="area__imprint">
    <h2>Lieferzauber.de</h2>

    <p>Lieferzauber.de ist kein geschäftsmäßiger Dienst, sondern ein privates, komplett nichtkommerzielles Projekt und unterliegt daher auch nicht der Impressumspflicht nach §5 TMG!</p>
    <p>Dennoch vermittelt Lieferzauber.de per API unentgeltlich Leistungen der <a href="https://www.lieferheld.de/" target="_blank">Lieferheld GmbH</a>, daher gelten im Fall einer Bestellung für Verbraucher die <a href="https://www.lieferheld.de/agb/" target="_blank">AGB sowie Widerrufsrecht</a>, <a href="https://www.lieferheld.de/datenschutz/" target="_blank">Datenschutzbestimmungen</a> und das <a href="https://www.lieferheld.de/impressum/" target="_blank">Impressum</a> der Lieferheld GmbH.</p>
    <p>Wir distanzieren uns audrücklich von diesen Leistungen und erklären hiermit, in keinerlei Verbindung mit der Lieferheld GmbH zu stehen. Diese Website stellt lediglich ein Werkzeug dar, dessen Benutzung komplett auf eigene Verantwortung und Gefahr geschieht. Wir übernehmen keinerlei Haftung.</p>
    <p>Ebenso nutzt diese Website zur Addressvalidierung die <a href="https://developers.google.com/maps/documentation/geocoding/intro" target="_blank">Google Maps Geocoding API</a>.</p>
    <p>
        <strong>Datenschutz</strong><br />
        Lieferzauber.de speichert serverseitig keinerlei Daten ab. Die Speicherung der Daten findet komplett im Browser des Nutzers statt, wo diese auch bis zur Löschung durch diesen verbleiben.
        Es werden von Lieferzauber.de keine Daten ausgewertet. Die Addressdaten werden allerdings zur Validierung an die Google Maps Geocoding API gesendet, wo sie eine anonyme Addressanfrage darstellen die nur aus Straße, Hausnummer, Postleitzahl, Stadt und Land besteht (es werden also keine persönlichen Details übersendet).<br />
        Im Fall einer Bestellung werden die Lieferadresse sowie die Informationen über die Bestellung an die Lieferheld API übersendet und ein Gastkonto angelegt. Dies sind weniger Daten als die Lieferheld GmbH zur Erbringung des Dienstes auf ihrer Seite selbst erheben würde.
    </p>
</div>