.settings {
  &__tabs {
    display:flex;
    flex-flow:row nowrap;
    list-style:none outside;
    padding:0;
    margin:0;
    color:$_cGray;
    font-weight:300;
    user-select:none;

    &--action {
      float:right;
      cursor:pointer;
      padding:$_sNormal;
      margin:-($_sNormal);
      height:22px;
      line-height:22px;

      &:hover {
        color:$_cDark;
      }
    }

    li {
      flex:1;
      transition:border-bottom-color $_tFast, background-color $_tFast, color $_tFast;
      padding:$_sNormal;
      text-align:center;
      background-color:$_cWhite;
      border-bottom:1px solid $_cGray;
      border-right:1px solid $_cGray;
      cursor:pointer;
      user-select:none;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;

      &:first-child {
        border-left:1px solid $_cGray;
      }

      &.active {
        background-color:$_cGray;
        color:$_cWhite;
        cursor:default;
      }
    }
  }
}