.ui {
  &__layer {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:transparentize($_cWhite, 0.5);
    animation:animation-fade-in $_tFast;
    z-index:9998;

    &--curtain {
      z-index:9999;
      background-color:$_cWhite;
      cursor:wait;
    }

    &--busy {
      cursor:wait;

      &:after {
        @extend .fa;

        content:'\f0f5';
        position:absolute;
        left:50%;
        top:50%;
        z-index:0;
        color:$_cSpecial;
        font-size:$_sBig;
        margin-left:-($_sBig / 2);
        margin-top:-($_sBig / 2);
        animation:animation-rotate $_tSlow linear infinite;
      }
    }
  }

  &__notification {
    transition:opacity $_tFast;
    border-radius:$_brLight;
    padding:($_sNormal / 2) $_sNormal;
    color:$_cWhite;
    font-size:$_fsMessage;
    text-align:left;
    white-space:normal;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color:$_cDark;

    &s {
      position:fixed;
      right:0;
      top:0;
      z-index:9997;
    }

    &--global {
      float:right;
      clear:right;
      margin:$_sNormal;
    }

    &--hidden {
      opacity:0;
    }

    &--error {
      background-color:$_cError;
    }
    &--warning {
      background-color:$_cWarning;
    }
    &--ok {
      background-color:$_cSuccess;
    }
  }

  &__language,
  &__imprint {
    position:fixed;
    bottom:0;
    padding:$_sNormal;
    cursor:pointer;
    user-select:none;
    text-decoration:underline;
    background:transparentize($_cWhite, 0.2);
    font-size:$_fsDefault - 1px;
    z-index:10000;
  }

  &__language {
    right:0;
  }

  &__imprint {
    left:0;
  }
}